@import url(fontawesome-all.min.css);



/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(17, 19, 51) 50%, rgba(14,23,69,1) 100%);
    }

    table, td, th {
      border: 1px solid;
      
    }
    
    td{
      padding: 7px;
    }
    table {
      width: 95%;
      border-collapse: collapse;
      margin: 30px;
      font-size: 16px;
    }

/*Typography*/

body, input, select, textarea {
    color: rgba(255, 255, 255, 0.55);
    font-family: 'raleway', helvetica;
    font-size: 16.5pt;
    font-weight: normal;
    line-height: 1.75;
}

h3{
  font-size: medium;
  font-weight: 400;
  color: gold;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: linear-gradient(rgb(0,0,70), rgb(31, 72, 162), rgb(0,0,70));
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(14,23,69,1);
  }

  *::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(0,0,70), rgb(31, 72, 162), rgb(0,0,70));
    border-radius: 10px;
  }

/*NAVBAR*/
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,19,51) 50%, rgba(14,23,69,1) 100%);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: gold;
  }
  nav .menu-btn i{
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #191627;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 14px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
      margin-right: 40px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
  }
  .content{
    position: relative;
    top: 100%;
    left: 100%;
    transform: translate(-100%, 10%);
    text-align: left;
    width: 100%;
    color: #ffff;
  }
  .content0{
    position: relative;
    top: 100%;
    left: 100%;
    transform: translate(-100%, 10%);
    text-align: left;
    width: 100%;
    padding: 0px 242px 0px 343px;
    color: #ffff;
  }
  .content div{
    font-size: 40px;
    font-weight: 700;
  }
  .content h2{
    font-size: 20px;
    font-weight: 300;
    color: gold;
  }
  .column {
    float: left;
    }

  .column1 {
    float: left;
    width: 50%;
    padding-right: 30px;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
  
/*cool scroll down*/
.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 420px;
    margin-bottom: 16px;
  }
  
  .scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #ffffff66;
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
    40% {
      opacity: 1;
      height: 10px;
    }
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
    100% {
      height: 3px;
      opacity: 0;
    }
  }
  .chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
  .chevrondown:nth-child(odd) {
    animation: pulse 500ms ease infinite alternate;
  }
  .chevrondown:nth-child(even) {
    animation: pulse 500ms ease infinite alternate 250ms;
  }
  @keyframes pulse {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }

/*dope button*/
.bn40 {
    border-radius: 4px;
    font-weight: 600;
    font-size: large;
    padding: 4px 365px;
    color: #fff !important;
  }
  
  .bn40::after {
    max-width: 11.5%;
    height: 2px;
    display: block;
    content: "";
    background: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
    opacity: 1;
    margin-left: 365px;
    margin-bottom: -6px;
    margin-top: 1px;
  }
  
  .bn40div {
    display: flex;
  }

